# Ignore Open3D if installed
/Open3D/
# Ignore the ROS workspace dir
/agile_autonomy_ws
# Pycharm's config files
/.idea
/SITL/docker/ardupilot/
/SITL/docker/MP/
/SITL/docker/ardupilot_gazebo/

/SITL/docker/build/
/SITL/docker/install/
/SITL/docker/log/
/SITL/docker/gz_ws/

/.gitignore
